  <h2>Add new Post</h2>
  <%= form_with model: [ @user, @user.posts.build ] do |form| %>
    <p>
      <%= form.label :title %> <br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :body %> <br>
      <%= form.text_area :body %>
    </p>
      <%= form.hidden_field :author, value: current_user.username %>
    <p>
      <%= form.submit %>
    </p>
  <% end %>